<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Team App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/JQuery.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>


</head>
<body>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Poi Planner</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" id="interests-cont">
          </ul>
         <form class="navbar-form navbar-right">
         <div class="form-group">
             <label for="select-user">User</label>
             <select id="select-user" class="form-control">
                 <option selected disabled>User</option>
                 {% for user in users %}
                    <option value="{{ users[user]['id']}}">{{ users[user]['name']}}</option>
                 {% endfor %}
             </select>
         </div>
        </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="row" id="baserow">
        <div id="mapwrapper" class="col-md-4">
            <div id="map"></div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div>
                    <label for="lng-for">Longitude</label>
                    <input id="lng-for" type="text" class="form-control" value="49.8696">
                    <label for="lat-for">Latitude</label>
                    <input id="lat-for" type="text" class="form-control" value="23.9434">
                </div>
                <label for="distance">Distance</label>
                <input id="distance" type="text" class="form-control" value="7">
                <button class="btn btn-success" id="get-poi">Get POI!</button>
            </div>
        </div>
        <div class="col-md-4"><div class="loadingCont">Loading. . . <br><img src="{{ url_for('static', filename='loader.gif')}}"></div></div>
    </div>

    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        let map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 49.4948, lng: 24.0051},
          zoom: 8
        });
      }

      $('#get-poi').click(function () {
      $.ajax({
          url: "{{ url_for('get_poi_by_coords') }}",
          method: 'post',
          data: JSON.stringify({
              'lng_for': $('#lng-for').val(),
              'lat_for': $('#lat-for').val(),
              'distance': $('#distance').val()
          }),
          beforeSend: function(){
            console.log('sending...');
            $('#get-poi').prop('disabled', true);
            $('.loadingCont').css('display', 'block')
          },
          success: function () {
              $('#get-poi').prop('disabled', false);
              $('.loadingCont').css('display', 'none');
              console.log('success!')
          }
      })
      })

      $('#select-user').change(function (e) {
      $.ajax({
          url: "/get_interest/user/" + e.target.value,
          method: 'get',
          success: function (d) {
              console.log(d);
              let res = '';
              d.interests.map(el => (el.name !== null ? res += `<li><a id="${el.id}" href="#">${el.name}</a></li>` : null));
              $('#interests-cont').html(res)
          }
      })
      })


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2b_w5xsmtLBqr5Rpm1o9mGIZclhYo-Tc&callback=initMap" async defer></script>
</body>
</html>